#page-create-point{
    width: 90%;
    max-width: 1100px;
    /*alinhamento da caixa do lado de fora */
    margin: 0 auto;

}

#page-create-point header{
    margin-top: 40px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

#page-create-point header a{
    color: var(--title-color);
    font-weight: bold;

    display: flex;
    align-items: center;

}

#page-create-point header a span{
    margin-right: 16px;
    background-image: url('../assets/arrow-left.svg');
    display: flex;
    
    width: 20px;
    height: 24px;
    
}

form{

    margin: 80px auto;
    background-color: white;
    margin-top: 80px;
    /*preenchimento*/
    padding: 64px;

    border-radius: 8px;

    /*o form é menor que a página no protótipo
    */

    max-width: 750px;
    

    
}