/* Arquivo organizado na ordem que as coisas aparecem na html*/
:root{ /*referencia a raiz do html, podemos colocar propriedades que sãoreplicadas 
    como variáveis
*/
--title-color: #322153;
--primary-color: #34cb79;
--white-ish-color: #f0f0f5;
}

*{/*referencia basicamente todos os seletores*/
    margin:0;
    padding:0;
    box-sizing: border-box;
    color: var(--title-color);
}

html{
   
    font-family: 'Roboto', sans-serif;
}

body{
    background: var(--white-ish-color);
      -webkit-font-smoothing: atialiased;
}
/*BOX MODEL
modelo de caixa, toda caixa tem bordas, tamanho, organização e 
maneira que é vista pelo html, o display
caixas também podem ter alinhamentos*/

/*../ -> buscar na pagina acima*/

a{
    text-decoration: none;/*para tirar o sublinhado dos links*/
}

h1, h2, h3, h4, h5, h6{
    color: var(--text-color);    
    font-family: 'Ubuntu', sans-serif;
}