
/*conjunto de regras para algumas configurações*/
@media(max-width: 900px) {
    /*definindo como as coisas vão funcionar antes de 900 px de tela */
    #page-home{
        background-position-x:70vw;/* some a imagem para o conteúdo não ficar se sobrepondo*/
    }
    #page-home .content {
        align-items: center;
        text-align: center;
        
    }
    #page-home header a {
        position: absolute;
        bottom: 48px;

        left:50%;
        /*achar sempre o meio */
        transform: translateX(-50%);
        
    }

    #page-home main{
        align-items: center;
    }

}

@media(min-width: 1700px){/* aplicado do min pra cima*/
    #page-home{
        background-position-x: 40vw;
     }
}

@media(max-height: 760px){/* aplicaddo maximo pra baixo*/
    #page-home{
        background-position-y: 200px;
     }
}

@media(max-width: 490px) {
    /*definindo como as coisas vão funcionar antes de 900 px de tela */
    #page-home{
        background-position-x:70vw;/* some a imagem para o conteúdo não ficar se sobrepondo*/
    }

    #page-home header a {
        position: absolute;
        bottom: 10px;

        left:50%;
        /*achar sempre o meio */
        transform: translateX(-50%);
        
    }
    
}

