
    <div id = "modal" class="hide"> <!-- esconder o modal a classe hide no css-->
        <div class = "content">
            <div class = "header">
                <h1>Pontos de Coleta</h1>
                <a href="#">Fechar</a>
            </div>
            <form action="/search">
                <label for = "search">Cidade</label>
                <div class="search field">
                    <input type = "text" 
                    name = "search"
                    placeholder="Pesquise por cidade"> <!--O que fica no campo enquanto não recebe valor-->
                    
                    <button>
                        <img src = "/assets/search.svg" alt = "Buscar">
                    </button>
                </div>
            </form>
        </div>
    </div>